* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  font-family: segoeui,Microsoft JhengHei,sans-serif; }

html {
  font-size: 62.5%; }

.header {
  background-color: black; }
  .header nav div div {
    display: flex;
    justify-content: flex-end; }
    .header nav div div ul {
      margin-right: 0 !important; }

.nav-link {
  font-size: 1.5rem; }

.navbar-dark .navbar-nav .nav-link.active:hover {
  color: red; }

.navbar-dark .navbar-toggler {
  color: #fbfbfb;
  border-color: white; }

.headerImg {
  width: 250px; }

.cart {
  position: relative; }

.cartAmount {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 16px;
  background-color: red;
  color: white;
  border-radius: 3px; }

.notification {
  font-size: 16px;
  font-weight: bold; }

.footer {
  background-color: black;
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center; }
  .footer div {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none; }
    .footer div p {
      margin-bottom: 5px; }
    .footer div a {
      text-decoration: none;
      color: white; }
      .footer div a:hover {
        color: red; }
    .footer div div {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .footer div div a {
        margin: 0 10px; }
  @media screen and (max-width: 768px) {
    .footer {
      font-size: 1.25rem; } }

.footerImg {
  width: 100px;
  margin: 10px 0; }

.titlePc {
  text-align: center;
  font-size: 2.5rem; }

.mainSection {
  display: flex;
  flex-wrap: nowrap; }
  @media screen and (max-width: 992px) {
    .mainSection {
      flex-direction: column; } }

.productsFilter {
  color: black;
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  margin-right: 20px; }
  .productsFilter p {
    margin-right: 40px;
    font-weight: bold; }
  .productsFilter ul {
    list-style-type: none; }
    .productsFilter ul li a {
      color: black;
      text-decoration: none; }
      .productsFilter ul li a:hover {
        color: red; }
  @media screen and (max-width: 992px) {
    .productsFilter {
      align-items: center; }
      .productsFilter p {
        margin: 0; }
      .productsFilter ul {
        display: flex; }
        .productsFilter ul li {
          padding: 0 5px; } }
  @media screen and (max-width: 768px) {
    .productsFilter {
      flex-direction: column;
      align-items: center;
      margin: 0px; }
      .productsFilter p {
        margin: 0px; }
      .productsFilter ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; }
        .productsFilter ul li {
          padding: 0px 5px; } }

.findProducts {
  font-size: 16px;
  font-weight: bold; }

.filter-item {
  visibility: hidden;
  opacity: 0;
  display: none; }

.products {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center; }
  .products .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px;
    margin: 0 1px;
    width: 250px;
    height: 275px; }
    .products .item img {
      width: 200px;
      height: 150px; }
    .products .item .details {
      margin-top: 10px; }
      .products .item .details .price {
        display: flex;
        flex-direction: column;
        align-items: center; }
  @media screen and (max-width: 992px) {
    .products {
      grid-template-columns: repeat(2, 223px);
      justify-content: center;
      margin: 0; }
      .products div {
        flex-direction: column; } }
  @media screen and (max-width: 768px) {
    .products {
      grid-template-columns: repeat(1, 223px); } }

.label {
  text-align: center;
  margin-bottom: 20px;
  color: black; }

.fa-square-xmark {
  color: red;
  cursor: pointer; }

.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: 15px;
  margin-bottom: 5px; }

.cart-item {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  height: 150px; }

.title-price-cart {
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; }

.title-price {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 5px; }

.cart-item-price {
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 3px 6px; }

.quantity {
  display: flex;
  gap: 15px;
  margin-bottom: 10px; }

.fa-square-minus {
  cursor: pointer; }

.fa-square-plus {
  cursor: pointer; }

.checkOut, .removeAll {
  width: 100px;
  color: black;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px; }
  .checkOut:hover, .removeAll:hover {
    background-color: red;
    color: white; }

.checkOut:hover {
  background-color: green; }

.carrusel {
  background-color: #d4d4d4; }

.d-block {
  margin: 0  auto !important; }

.buttons {
  width: 100px;
  color: black;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px; }
  .buttons:hover {
    background-color: red;
    color: white; }
