@mixin wrap($flex, $wrap) {
    display: $flex;
    flex-wrap: $wrap;
}

.titlePc {
    text-align: center;
    font-size: 2.5rem;
}

.mainSection {
    @include wrap(flex, nowrap);
    @media screen and (max-width: 992px) {
        flex-direction: column;
    }
}

.productsFilter {
    color: black;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    p {
        margin-right: 40px;
        font-weight:bold;
    }
    ul {
        list-style-type: none;
        li {
            a{
                color: black;
                text-decoration: none;
                &:hover {
                    color: red;
                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        align-items: center;
        p {
            margin: 0;
        }
        ul {
            display: flex;
            li {
                padding: 0 5px;
            }
        }
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        margin: 0px;
        p {
            margin: 0px;
        }
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            li {
                padding: 0px 5px;
            }
        }
    }
}

.products {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(4,223px);
    gap: 30px;
    justify-content: center;
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 3px;
        margin: 0 1px;
        width: 250px;
        height: 275px;
        img {
            width: 200px;
            height: 150px;
        }
        .details {
            margin-top: 10px;
            .price {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    @media screen and (max-width: 992px) {
        grid-template-columns: repeat(2,223px);
        justify-content: center;
        margin: 0;

        div {
            flex-direction: column;
        }
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1,223px);
    }
}
