@import "fuentes";
@import "header";
@import "footer";
@import "ventaspc";
@import "cart";

$estiloForm: (
    color: rgba(0, 0, 0, 0.8),
    ancho: 400px,
    tamañoFuente: 1.5rem,
    borderRadius: 3px
);

.carrusel {
    background-color:rgb(212, 212, 212);
}

.d-block {
    margin: 0  auto !important;
}

.buttons {
    width: 100px;
    color: black;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    &:hover {
        background-color: red;
    }
}